* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --Pink: hsl(322, 100%, 66%);
    --VeryPaleCyan: #ebfbff;
    --VeryDarkCyan: hsl(192, 100%, 9%);
    --GrayishBlue: hsl(208, 11%, 55%);
}

body { 
    max-width: 1440px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    

}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.5em;
    color: var(--VeryDarkCyan);
}

button {
    text-decoration: none;
    border: none;
    cursor: pointer;
    
}
a {
    text-decoration: none;
    color: var(--GrayishBlue);
}

header {
    max-width: 100%;
    height: 100vh;
    padding: 0 100px;
    margin-bottom: 100px;
    background-image: url(images/bg-hero-desktop.svg);
    background-repeat: no-repeat;
    background-color: var(--VeryPaleCyan);
}

header .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 80px 0;
}

header .main-button {
    background-color: white;
    font-family: 'Poppins', sans-serif;
    font-size: 0.85em;
    border-radius: 50px;
    padding: 15px 70px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.044);

}

header .main-hero {
    display: flex;
    align-items: center;
    gap: 50px;
}


header .img-hero{
    width: 55%;

}

header .second-button {
    background-color: var(--Pink);
    font-family: 'Poppins', sans-serif;
    color: white;
    border-radius: 50px;
    padding: 15px 70px;
    box-shadow: 0px 5px 8px  hsla(322, 100%, 66%, 0.213);

}

.second-button:hover{
    background-color: hsl(322, 87%, 78%);
}

header .main-hero .hero .main-title {
    margin-bottom: 30px;
}

header .main-hero .hero .main-paragraph{
    margin-bottom: 40px;

}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

main .main-card {
    width: 80vw;
    height: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.035) ;
    margin:20px 0px;
    padding: 100px;

}

main .main-card .info-card {
    width: 50%;
    

}

main .main-card .card-ilustra {
    width: 40%;
    
    
    

}

main .main-card .info-card .card-paragraph {
    color: var(--GrayishBlue);
    font-size: 0.95em;
    line-height: 1.5em;
    margin-top: 15px;

}

main .wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100vw;
    
}

main .call-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 280px;
    bottom: -400px;
    gap: 30px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.035) ;
    background-color: white;
    
    

}

main .call-card .second-buttonXL {
    background-color: var(--Pink);
    font-family: 'Poppins', sans-serif;
    font-size: 1.0em;
    color: white;
    border-radius: 50px;
    padding: 20px 130px;
    box-shadow: 0px 5px 8px  hsla(322, 100%, 66%, 0.213);

}

main .call-card .second-buttonXL:hover{
    background-color: hsl(322, 87%, 78%);
}

footer{
    width: 100vw;
    height: 580px;
    padding: 200px 150px 0px 150px;
    margin-top: 300px;
    background-color: var(--VeryDarkCyan);
    color: var(--GrayishBlue);
}

footer .wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    
    
}

footer .wrapper nav {
    column-count: 2;
    column-gap: 60px;
    
    
}

footer .wrapper .address-footer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
}

footer .logo-footer {
    width: 250px;
    padding-bottom: 30px;
}

.align-icon{
    display: flex;
    align-items: flex-start;
    width: 400px;
    gap: 30px;
}

.footer-icon{
    width: 15px;
    margin-top: 5px;
}

.footer-paragraph {
    font-size: 0.9em;
}

ul {
    line-height: 2.5em;
}

li {
    list-style: none;
    
}

.copy-footer {
    text-align: end;
    font-size: 0.8em;
}

.icon-social {
    height: 35px;
}



